body {
    font-family: 'Inter', sans-serif;
}

.section-outer {
}
.section-header {
    background-color: blue;
}
.section-inner {
    display: flex;
    justify-content: center;
}
.main-navigation {

}
.logp {
    display: flex;
}
.logo__img {
    margin-right: 10px;
}
.logo__title {
}
.main-navigation__innner-wrap {
    display: flex;
    align-items: center;
    margin-left: 110px;
}

.nav {
}
.nav-wrapper {
    display: flex;
    list-style: none;
}
.nav-wrapper__item {
    
}
.nav-wrapper__item-link {
    color: #FFFFFF;
    text-decoration: none;
}
.btn-wrapper {
}
.btn {
    color: #FFFFFF;
}